.trackInfoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start
}

.title {
    color: var(--titleColor);
    font-size: 28px;
}
.artist,
.album {
    color: var(--artistColor);
    font-size: 22px;
}

@media only screen and (max-width: 600px) {
    .title,
    .artist,
    .album {
        width: 100%;
        text-align: center;
    }
}